# dependencies
node_modules/

# Next.js
.next/
out/
build/

# production
dist/

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# archives
*.zip

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/

# @capacitor/assets generated PWA icons (wrong location, not served by Next.js)
/icons/
